code {
	font-family: "Lucidia Console",monospace,"Courier New";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: antialiased;
	color: #DC143C;
}

a {
	color: #0FAFFF;
}

a:hover {
	color: #9F6FFF;
}

a code {
	color: inherit;
}

html {
	scroll-behavior: smooth;
}

.blur-image {
	filter: none;
	transition: opacity 1.5s linear;
	opacity: 1;
}

.image-loaded {
	opacity: 0;
}

.full-image, .image-loaded {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	-webkit-filter: none;
}

#super-header {
}

#header {
	display: block;
	overflow: auto;
	background: #222222;
}

#header h1 {
	text-align: center;
	display: block;
	padding-top: 0.5em;
	min-height: 2em;
}

#header a {
	text-decoration: none;
}

nav {
	display: block;
	overflow: auto;
	min-height: 2em;
}

nav a {
	float: left;
	display: block;
	overflow: auto;
	color: #ff9999;
	background: #333333;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	min-height: 2em;
	text-decoration: none;
	border: 1px solid #444444;
	padding-top: 4px;
}

nav a:hover {
	text-decoration: none;
	background-color: #666666;
	color: #ff6666;
}

h1,h2,h3,h4,h5,h6 {
	color: #ff7777;
}

#content {
	margin: 0 auto;
	width: 83ch;
	background: #00000044;
	min-height: calc(100vh - 14em);
	padding: 1.5em 1ch 2em 1ch;
	backdrop-filter: blur(2px);
}

@-moz-document url-prefix() {
	#content {
		background: #000000AA;
	}
}

@media screen and (max-width: 815px) {
	#content {
		padding-left: 5%;
		width: 95%;
	}
}

@media print {
	.full-image {
		position:fixed;
		top:0;
		left:0;
		height:100vh;
		width:100vw;
		z-index:-1;
		background-color:#0A1238;
		background-image: url('/resources/blue-universe-956981.jpg');
	}
}

#footer {
	background: #000000;
	height: 6.5em;
	text-align: center;
}

#footer a {
	color: #ea1f48;
	padding-top: 2em;
	display: block;
}

#footer-links a {
	font-size: 2em;
	margin-left: 1ch;
	margin-right: 1ch;
	margin-bottom: 1em;
}

#copyright {
	color: #FFFFFF;
	font-size: 1.5em;
}

@media screen and (max-width: 710px) {
	#footer-links a {
		display: table;
		margin: auto;
	}
}

#super-header,#content,#footer {
	z-index: 10;
}
