code {
	font-family: "Lucidia Console",monospace,"Courier New";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: antialiased;
	color: #DC143C;
}

a code {
	color: inherit;
}

html {
	scroll-behavior: smooth;
	background: black;
	color: white;
}

#super-header {
	margin-bottom: 2em;
}

#header {
	display: block;
	overflow: auto;
	background: red;
}

#header h1 {
	text-align: center;
	display: block;
	padding-top: 10px;
}

nav {
	display: block;
	overflow: auto;
	min-height: 2em;
}

nav a {
	float: left;
	display: block;
	overflow: auto;
	width: 25%;
	text-align: center;
	min-height: 2em;
}

#content {
	margin: 0 auto;
	width: 81ch;
}

@media screen and (max-width: 815px) {
	#content {
		padding-left: 5%;
		width: 95%;
	}
}

#footer {
	background: #000000;
}

#footer a {
	color: #DC143C;
}

#footer-links a {
	font-size: 2em;
	margin-left: 1ch;
	margin-right: 1ch;
	margin-bottom: 1em;
}

#copyright {
	color: #FFFFFF;
	font-size: 1.5em;
}

@media screen and (max-width: 710px) {
	#footer-links a {
		display: table;
		margin: auto;
	}
}
